
$color-white: white;
$border-radius: 3px;


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: slategrey;
    color: white;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.btn-white {
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid $color-white;
    border-radius: $border-radius;
    cursor: pointer;
    transition-duration: 0.1s;

    &:hover {
        background-color: rgba($color-white, 0.2);
    }

    &:active {
        background-color: $color-white;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 10rem;
    background-color: rgba(black, 0.5);

    a {
        margin-left: 1rem;
    }
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}