

$color-white: white;
$color-background: #212121;
$color-grey-dark: #424242;
$color-grey: #757575;
$color-grey-light: #BDBDBD;
$color-green: #00ACC1;
$color-blue: #039BE5;
$color-indigo: #3F51B5;
$color-violet: #AB47BC;

$border-radius: 3px;


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
    color: $color-white;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.btn-white {
    display: inline-block;
    text-decoration: none;
    color: $color-white;
    background-color: transparent;
    padding: 0.25rem 1rem;
    border: 1px solid $color-white;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.1s;

    &:hover {
        background-color: rgba($color-white, 0.2);
    }

    &:active {
        background-color: $color-white;
    }
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 5rem;
    width: 100vw;
    background-color: rgba($color-white, 0.3);
    border-bottom: 1px solid $color-white;
    font-size: 1.6rem;
    z-index: 10000;
    
    
    a {
        margin-left: 1rem;
    }

    &__left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__clearfix {
        height: 8rem;
        width: 100vw;
        margin-bottom: 2rem;
    }

    &__waypoint {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__user {
        display: flex;
        align-items: center;

        &__picture {
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 100px;
            background-color: rgba($color-white, 0.1);
            margin-right: 0.5rem;
        }
    }

    .messages-btn {
        display: flex;
        align-items: center;

        .messages-status {
            height: 1.25rem;
            width: 1.25rem;
            margin: 0.2rem 0 0 0.5rem ;
            border: 1px solid $color-white;
            border-radius: 100px;
            background-color: $color-blue;
        }
    }
}

.searchbar {
    font-size: 1.6rem;
    font-family: "Lato";
    letter-spacing: 1px;
    outline: none;
    width: 17.5rem;
    cursor: text;

    &:focus {
        background-color: rgba($color-white, 0.3);
        box-shadow: 0 0 0 4px $color-indigo;
    }

    &::placeholder {
        color: rgba($color-white, 0.5rem);
    }
}

.search-dropdown__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 5rem;
    right: 0rem;
    height: calc(100vh - 5rem);
    width: 28rem;
    background-color: rgba($color-white, 0.3);
    border-left: 1px solid $color-white;
    padding-top: 0.5rem;
    overflow-y: scroll;

    .result {
        text-decoration: none;
        margin-bottom: 0.75rem;
        color: $color-white;
        border-bottom: 1px solid $color-white;
        font-size: 1.7rem;

        &:hover {
            color: $color-blue;
            border-color: $color-blue;
        }
    }
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.wallpaper {
    background-size: cover;
    background-position: bottom;
    position: fixed;
    bottom: 0;
    z-index: -10000;
    height: 100vh;
    width: 100vw;
}

.user-show {

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 60rem;
        margin-left: 5rem;
        padding: 2rem;
    }

    &__user-picture {
        height: 30rem;
        width: 30rem;
        background-color: rgba($color-white, 0.3);
        border-radius: 1000px;
    }

    &__user-name {
        display: flex;
        align-items: center;
        margin: 2rem 0;

        button {
            margin-right: 1rem;
        }
    }
}

.friends {
    position: relative;
    height: 40rem;
    width: 60rem;
    background-color: rgba($color-white, 0.3);
    border: 1px solid $color-white;
    border-radius: $border-radius;

    &__meta {
        position: relative;
        height: 6rem;
        
        .friend-number {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 2rem;
            display: inline-block;
            padding: 0.5rem 1rem;
            border: 1px solid $color-white;
            color: $color-white;
            background-color: rgba($color-white, 0.2);
            border-radius: 100px;
        }
    }

    &__cards-container {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid $color-white;
        border-radius: 3px;
        height: calc(100% - 8rem);
        width: calc(100% - 4rem);
        overflow-y: scroll;
    }

    &__card {
        text-decoration: none;
        color: $color-white;
        margin: 1rem 1.75rem;
        border-radius: $border-radius;
        transition-duration: 0.1s;

        img {
            height: 10rem;
            width: 10rem;
            border-radius: 1000px;
        }

        p {
            font-size: 1.3rem;
            width: 10rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover { background-color: rgba($color-white, 0.3); }

        &:active { background-color: $color-white;}
    }
}