

$color-white: white;
$color-background: #212121;
$color-grey-dark: #424242;
$color-grey: #757575;
$color-grey-light: #BDBDBD;
$color-green: #00ACC1;
$color-blue: #039BE5;
$color-indigo: #3F51B5;
$color-violet: #AB47BC;

$border-radius: 3px;


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
    color: white;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.btn-white {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 0.25rem 1rem;
    border: 1px solid $color-white;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.1s;

    &:hover {
        background-color: rgba($color-white, 0.2);
    }

    &:active {
        background-color: $color-white;
    }
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 5rem;
    width: 100vw;
    background-color: rgba($color-white, 0.3);
    border-bottom: 1px solid $color-white;
    font-size: 1.6rem;
    
    
    a {
        margin-left: 1rem;
    }

    &__left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__clearfix {
        height: 8rem;
        width: 100vw;
        margin-bottom: 2rem;
    }

    &__waypoint {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__user {
        display: flex;
        align-items: center;

        &__picture {
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 100px;
            background-color: rgba($color-white, 0.1);
            margin-right: 0.5rem;
        }
    }

    .messages-btn {
        display: flex;
        align-items: center;

        .messages-status {
            height: 1.25rem;
            width: 1.25rem;
            margin: 0.2rem 0 0 0.5rem ;
            border: 1px solid white;
            border-radius: 100px;
            background-color: $color-blue;
        }
    }
}

.searchbar {
    font-size: 1.6rem;
    font-family: "Lato";
    letter-spacing: 1px;
    outline: none;
    width: 17.5rem;
    cursor: text;

    &:focus {
        background-color: rgba($color-white, 0.3);
        box-shadow: 0 0 0 4px $color-indigo;
    }

    &::placeholder {
        color: rgba($color-white, 0.5rem);
    }
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.wallpaper {
    background-size: cover;
    background-position: bottom;
    position: fixed;
    bottom: 0;
    z-index: -10000;
    height: 100vh;
    width: 100vw;
}